[submodule "ODNL"]
	path = ODNL
	url = https://github.com/hongxin001/ODNL.git
[submodule "data/outlier-exposure"]
	path = data/outlier-exposure
	url = https://github.com/hendrycks/outlier-exposure.git
[submodule "data/cifar5m"]
	path = data/cifar5m
	url = https://github.com/preetum/cifar5m.git
